html,
body {
  /* margin: 0;
  padding: 0;
  width: 100%; */
}
body {
  /* height: 100vh; */
  background: #fff7c7;
}
.wrapper {
  margin-top: 100px;
}
.rowContainer {
  display: flex;
  justify-content: center;
}
.rowContainer > div {
  margin: 10px;
}
.btn {
  /* flex: 1; */
}
button {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
button {
  background: none;
  color: #ffc107;
  width: 400px;
  height: 80px;
  border: 1px solid #ffc107;
  font-size: 18px;
  border-radius: 100px;
  transition: 0.6s;
  overflow: hidden;
}
button:focus {
  outline: none;
}
/* button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
} */

/* button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
} */
button:hover {
  background: rgb(255, 242, 124);
  cursor: pointer;
  color: white;
}
button:hover:before {
  transform: translateX(300px) skew(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
button:hover::after {
  transform: translateX(300px) skew(-15deg);
  opacity: 1;
  transition: 0.7s;
}
#center001 {
  text - align: center;
  color: black;
}
#frame001 {
  height: 700px;
  width: 700px;
  background - color: white;
  border: 3px solid black;
  margin: 4px;
  padding: 4px;
  border - radius: 10px;
  vertical - align: middle;
  display: flex;
  align - items: center;
  justify - content: center;
}
